{% extends 'base.html.twig' %} {% block title %}Mes listes de tâches{% endblock %} {% block body %}

<div class="tasklist-page">
    {% include "sidebar.html.twig" %}

    <div class="page-content">
        {% if tasklists|length > 0 %}
        <div class="tasklist-header">
            <div class="list-title-block">
                <h2 class="list-title">{{ activeTasklist.title }}</h2>
                <a href="{{ path('tasklist_edit', { id: activeTasklist.id }) }}">
                    <img class="edit-icon" src="{{ asset('/build/images/edit.png') }}" alt="" />
                </a>
            </div>
            <div class="progress-bar-block">
                <div class="progress-bar">
                    <div class="progress" style="width: {{ activeTasklist.progress }}%;"></div>
                </div>
                <div class="percentage">{{ activeTasklist.progress }}%</div>
            </div>
            <div class="tasklist-actions">
                <a href="{{ path('tasklist_archive', { id: activeTasklist.id }) }}">
                    <form id="tasklist-archive" method="POST" style="display: inline-block" action="{{ path('tasklist_archive', { id: activeTasklist.id }) }}">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="hidden" name="_token" value="{{ csrf_token('ARCH' ~ activeTasklist.id) }}" />
                        <button id="archive-tasklist" class="btn action archive-btn">
                            {{ activeTasklist.archivedAt ? "Activer la liste" : "Archiver la liste" }}
                        </button>
                    </form>
                </a>
                <a href="{{ path('tasklist_delete', { id: activeTasklist.id }) }}">
                    <form id="tasklist-delete" method="POST" style="display: inline-block" action="{{ path('tasklist_delete', { id: activeTasklist.id }) }}">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ activeTasklist.id) }}" />
                        <button id="delete-tasklist" class="btn action delete-btn">Supprimer la liste</button>
                    </form>
                </a>
            </div>
        </div>
        <div class="tasks-block">
            <a href="{{ path('task_create', { tasklist: activeTasklist.id }) }}" class="btn action create-task-btn">+ Ajouter une tâche</a>
            {% if activeTasklist.tasks|length > 0 %} {% else %}
            <div class="tasks-empty-state">
                <p class="tasks-empty-state-text">Vous n'avez pas encore créé de tâche dans cette liste.</p>
            </div>
            {% endif %}
        </div>
        {% else %}
        <div class="empty-state">
            <img src="{{ asset("/build/images/clipboard_green.png") }}" alt="">
            <p class="emtpy-state">Vous n'avez pas encore créé de liste de tâche</p>
            <a href="{{ path('tasklist_create') }}" class="btn btn-large">+ AJOUTER UNE LISTE</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
