{% extends 'base.html.twig' %} {% block title %}Créer un compte{% endblock %} {% block body %}
<div class="login-register-page">
    <div class="image-wrapper"></div>

    <div class="form-wrapper register-login">
        {{ form_start(registrationForm) }}
        <h3>Créer un compte</h3>
        {{ form_row(registrationForm.first_name, { label: "Prénom" }) }}
        {{ form_row(registrationForm.last_name, { label: "Nom" }) }}
        {{ form_row(registrationForm.email) }}
        {{
            form_row(registrationForm.plainPassword, {
                label: "Mot de passe"
            })
        }}

        <button class="btn btn-submit" type="submit" class="btn">Créer un compte</button>
        <div class="link-wrapper">
            <a href="{{ path('app_login') }}">Se connecter</a>
        </div>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
